name: CI - Testing

on:
  push:
    branches:
      - main  # or the specific branch you want to monitor
  pull_request:
    branches:
      - main  # or the specific branch you want to monitor

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.17.1'

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm run test
